p {
  flex-direction: column;
}

p > span:first-child {
  color: #303f9f;
  font-weight: 500;
}

.season-btn {
  border-radius: 5px;
  color: black;
  min-width: 36px;
  padding: 0;
}

.alert-container {
  min-width: 36px;
}

:host ::ng-deep .mat-mdc-list-item-unscoped-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 5px;
}
