<mat-list-item>
  <div class="alert-container">
    <span>
      @switch (seasonStep) {
        @case (1) {
          <button
            class="season-btn green-glass"
            mat-button
            type="button"
          >
            <mat-icon>trending_up</mat-icon>
          </button>
        }
        @case (2) {
          <button
            class="season-btn yellow-glass"
            mat-button
            type="button"
          >
            <mat-icon>trending_flat</mat-icon>
          </button>
        }
        @case (3) {
          <button
            class="season-btn red-glass"
            mat-button
            type="button"
          >
            <mat-icon>trending_down</mat-icon>
          </button>
        }
      }
    </span>
  </div>
  <p class="mb-0 w-100 ml-2 d-flex overflow-hidden">
    <span>
      {{ ingredient().name }}
    </span>
    <span>{{ startMonth }} - {{ stopMonth }}</span>
  </p>
  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button
    type="button"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (recipesCount() > 0) {
      <button
        [routerLink]="href"
        mat-menu-item
        type="button"
      >
        <mat-icon>menu_book</mat-icon>
        <span>Przepisy ({{ recipesCount() }})</span>
      </button>
    }
    <button
      (click)="startEdit()"
      mat-menu-item
    >
      <mat-icon>edit</mat-icon>
      <span>Edytuj</span>
    </button>
    <button
      (click)="delete()"
      mat-menu-item
    >
      <mat-icon>delete</mat-icon>
      <span>Usuń</span>
    </button>
  </mat-menu>
</mat-list-item>
