p > span {
  font-weight: 500;
  color: #303f9f;
}

.season-btn {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  color: black;
  min-width: 36px;
  padding: 0;
}

.alert-container {
  min-width: 36px;
}
