.mat-toolbar {
  backdrop-filter: blur(5px);
  background-color: rgb(255 255 255 / 30%);
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.part {
  width: calc(50% - 30px);
}

.part:first-of-type {
  text-align: right;
  width: calc(50% - 120px);
}

img {
  height: 60px;
  width: auto;
}

.to-right {
  float: right;
}

.search-btn {
  min-width: 36px;
  padding: 0;
}

.filtered {
  background-color: rgb(42 212 248 / 60%);
}

.search-btn:hover {
  background-color: rgb(42 212 248 / 30%) !important;
}
