.mat-toolbar {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .3);
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.part {
  width: calc(50% - 30px);
}

.part:first-of-type {
  text-align: right;
  width: calc(50% - 120px);
}

img {
  height: 60px;
  width: auto;
}

.to-right {
  float: right;
}

.search-btn {
  min-width: 36px;
  padding: 0;
}

.filtered {
  background-color: rgba(42, 212, 248, .6);
}

.search-btn:hover {
  background-color: rgba(42, 212, 248, .3) !important;
}
