<mat-list-item role="listitem">
  <div>
    <div mat-line>
      <ng-container>
        {{ ingredient().name }}
      </ng-container>
      @if (additional()) {
        <span class="additional">(opcjonalne)</span>
      }
    </div>
    <div mat-line>
      ({{ measure() }}
      @if (amount() !== '') {
        -
      }
      {{ amount() }})
    </div>
  </div>
  @if (ingredient().available) {
    <mat-icon class="available-icon">check_circle</mat-icon>
  } @else {
    <mat-icon class="unavailable-icon">cancel</mat-icon>
  }
</mat-list-item>
