.additional {
  color: grey;
}

.available-icon {
  color: rgb(52 145 56 / 90%);
}

.unavailable-icon {
  color: rgb(255 82 82 / 80%);
}

:host ::ng-deep .mat-mdc-list-item-unscoped-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
