<mat-form-field
  class="d-block w-100"
  [formGroup]="formGroup()"
>
  <mat-label>Tagi</mat-label>
  <mat-chip-grid #chipList>
    @for (tag of selectedTags(); track tag) {
      <mat-chip (click)="remove(tag)">
        {{ tag }}
        <mat-icon matChipRemoveIcon>cancel</mat-icon>
      </mat-chip>
    }
    <input
      #searchInput
      [formControlName]="formNames.search"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [maxlength]="maxTagNameLength"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-grid>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
  >
    @for (tag of filteredTags; track tag) {
      <mat-option [value]="tag.name">
        {{ tag.name }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
