mat-toolbar {
  backdrop-filter: blur(5px);
  background-color: rgb(255 255 255 / 30%);
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  height: 64px !important;
}

.spacer {
  flex: 1 1 auto;
}

img {
  height: 60px;
  width: auto;
}

button:hover {
  background-color: rgb(42 212 248 / 30%) !important;
}
