<h2
  class="d-flex justify-flex-end"
  mat-dialog-title
>
  <button
    class="glassmorphism-button close-btn"
    [mat-dialog-close]="true"
    mat-button
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>

@if (timers().length > 0) {
  <div>
    <form
      [autocomplete]="null | autocomplete"
      [formGroup]="selectForm"
      (ngSubmit)="submitSelect()"
    >
      <mat-form-field class="w-100">
        <mat-label>Minutnik</mat-label>
        <mat-select [formControlName]="formNames.timer">
          @for (timer of timers(); track timer) {
            <mat-option [value]="timer">[{{ timer.time | timerTime }}] {{ timer.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button
        class="glassmorphism-button w-100"
        [disabled]="selectForm.invalid"
        mat-button
        type="submit"
      >
        <mat-icon>add_circle_outline</mat-icon>
        Dodaj
      </button>
    </form>
  </div>
  <hr />
}

<form
  [autocomplete]="null | autocomplete"
  [formGroup]="addForm"
  (ngSubmit)="submitAdd()"
>
  <timers-form
    [add]="true"
    [formPart]="addForm"
    addText="Dodaj"
  ></timers-form>
</form>
