<div class='container d-inline-block pa-1'>
  <div class='preview pa-1'>
    <div>
      <h3 class='mb-0 ma-1 text-uppercase'>
        {{recipe.name}}
      </h3>
      <div class='mb-1 d-flex'>
        <a *ngIf='!(recipe.url | emptyString)' [href]='recipe.url' target='_blank'>
          <button class='glassmorphism-button' mat-raised-button type='button'>
            Link
          </button>
        </a>
      </div>
    </div>
    <div class='mt-1 mb-1'>
      <mat-carousel
        (change)='changedPhoto($event)'
        (click)='showPhoto($event)'
        *ngIf='recipe.photos.length > 0'
        [autoplay]='false'
        [hideArrows]='recipe.photos.length === 1'
        [hideIndicators]='recipe.photos.length === 1'
        [proportion]='75'
        [useKeyboard]='true'
        color='primary'>
        <ng-container *ngFor='let photo of recipe.photos'>
          <mat-carousel-slide [image]='getPhoto(photo.id)'></mat-carousel-slide>
        </ng-container>
      </mat-carousel>
    </div>
    <div class='pb-1 ml--1'>
      <button *ngFor='let tag of recipe.tags' class='glassmorphism-button ma-1' mat-button type='button'>
        {{tag}}
      </button>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel *ngIf='!(recipe.description | emptyString)' expanded hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Przepis
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p [innerHTML]='recipe.description'></p>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf='recipe.groups.length > 0' expanded hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Składniki
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='w-100 text-center'>
          <span>
            ilość porcji: {{recipe.portions}}
          </span>
        </div>
        <div *ngFor='let group of recipe.groups; first as isFirst;'>
          <br *ngIf='!isFirst' />
          <h2 class='mb-0'>
            {{group.name}}
          </h2>
          <mat-list class='pt-0' role='list'>
            <mat-list-item *ngFor='let position of group.positions' role='listitem'>
              <div mat-line>
                {{position.ingredient}}
                <span *ngIf='position.additional' class='additional'>
                  (opcjonalne)
                </span>
              </div>
              <div mat-line>
                ({{position.measure}}
                <ng-container *ngIf='position.amount !== null'> -</ng-container>
                {{position.amount}})
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
