<div class='preview pa-0'>
  <div class='pa-1'>
    <div class='d-flex align-center justify-content-between'>
      <h2 class='mb-0 ma-1'>
        Czy na pewno?
      </h2>
      <button [mat-dialog-close]='true' mat-icon-button type='button'>
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div>
    <div class='text-center'>
      <mat-icon class='rotate' color='warn'>
        close
      </mat-icon>
    </div>
    <hr />
    <div class='two-columns-container mt-1'>
      <div class='mb-1'>
        <button (click)='close()' class='glassmorphism-button upload-button w-100 red-glass' mat-button type='button'>
          Tak
        </button>
      </div>
      <div class='mb-1'>
        <button [mat-dialog-close]='true' class='glassmorphism-button w-100' mat-button type='button'>
          Nie
        </button>
      </div>
    </div>
  </div>
</div>
