.rotate {
  animation-duration: 3s;
  animation-name: spin;
  font-size: 100px;
  height: 100px;
  width: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button:hover {
  background-color: rgb(42 212 248 / 30%);
}
