::ng-deep .mat-dialog-container {
  padding: 0 !important;
  background: unset !important;
  backdrop-filter: none !important;
  box-shadow: unset !important;
  overflow: unset;
}

.preview {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .3);
}

.upload-button input[type=file] {
  background: white;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  font-size: 0;
  height: 36px;
  opacity: 0;
  outline: none;
  position: absolute;
  text-align: right;
}

.cropper-container {
  width: calc(100% - 10px);
}

button:hover {
  background-color: rgba(42, 212, 248, .3);
}
