:host ::ng-deep .mat-mdc-dialog-container {
  backdrop-filter: none !important;
  background: unset !important;
  box-shadow: unset !important;
  overflow: unset;
  padding: 0 !important;
}

.preview {
  background-color: rgb(255 255 255 / 30%);
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
}

.upload-button input[type="file"] {
  background: white;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  font-size: 0;
  height: 36px;
  opacity: 0;
  outline: none;
  position: absolute;
  text-align: right;
}

.cropper-container {
  width: calc(100% - 10px);
}

button:hover {
  background-color: rgb(42 212 248 / 30%);
}
