<h2 class="d-flex justify-content-between">
  <button
    class="glassmorphism-button"
    (click)="clear()"
    mat-button
    type="button"
  >
    Wyczyść
  </button>
  <button
    class="glassmorphism-button close-btn"
    [mat-dialog-close]="true"
    mat-button
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-form-field class="no-subscript">
  <mat-label>Nazwa</mat-label>
  <input
    [autocomplete]="null | autocomplete"
    [formControl]="name"
    [maxlength]="maxNameLength"
    matInput
    type="text"
  />
</mat-form-field>
