button {
  width: 150px;
}

button:hover {
  background-color: rgb(42 212 248 / 30%);
}

@media screen and (width <= 1247px) {
  button mat-icon {
    display: none;
  }

  button {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
  }
}
