<form (ngSubmit)='submitForm()' [formGroup]='form'>
  <mat-form-field class='d-block'>
    <mat-label>
      Nowe hasło
    </mat-label>
    <input [formControlName]='formNames.password' [maxLength]='maxPasswordLength' matInput type='password' />
    <mat-hint align='end'>
      {{passwordLength$ | async}} / {{maxPasswordLength}}
    </mat-hint>
  </mat-form-field>
  <span *ngIf='form.get(formNames.password)?.invalid && form.get(formNames.password)?.touched'>
    <shared-errors-container [errors]='errors.password' [input]='form.get(formNames.password)'>
    </shared-errors-container>
  </span>
  <mat-form-field class='d-block'>
    <mat-label>
      Powtórz hasło
    </mat-label>
    <input [formControlName]='formNames.passwordRepeat' [maxLength]='maxPasswordLength' matInput type='password' />
    <mat-hint align='end'>
      {{repeatPasswordLength$ | async}} / {{maxPasswordLength}}
    </mat-hint>
  </mat-form-field>
  <span *ngIf='form.get(formNames.passwordRepeat)?.invalid && form.get(formNames.passwordRepeat)?.touched'>
    <shared-errors-container [errors]='errors.passwordRepeat' [input]='form.get(formNames.passwordRepeat)'>
    </shared-errors-container>
  </span>
  <mat-hint *ngIf="(errorMessage$ | async)!==''" class='d-block pb-1'>
    {{errorMessage$ | async}}
  </mat-hint>
  <button [disabled]='form.invalid' class='glassmorphism-button w-100 mt-1' mat-button type='submit'>
    Zmień hasło
  </button>
  <button [routerLink]='[loginPath]' class='glassmorphism-button w-100 mt-2' mat-button type='button'>
    Powrót
  </button>
</form>

