:host {
  display: block;
  margin-top: 5px;
  padding: 5px;
}

.mat-stepper-vertical {
  background-color: unset;
}

.portions-input {
  width: 120px;
}

.plus,
.minus {
  background: unset;
  border: unset;
  cursor: pointer;
}

.portions-button {
  display: flex;
  flex-direction: column;
}

::ng-deep .portions-input mat-hint {
  display: inline-block;
  width: 200px;
}

.details > div {
  min-height: 40px;
}

@media screen and (width <= 640px) {
  .details > div > mat-slide-toggle {
    margin-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 10px;
  }

  .details {
    align-items: center;
    display: flex;
  }

  .details > div:first-child {
    display: flex;
    flex-direction: column;
  }
}
