@media screen and (width >= 451px) {
  .buttons > *:not(:only-child):first-child {
    margin-right: 5px;
  }

  .buttons > *:not(:only-child):nth-child(2) {
    margin-left: 5px;
  }
}

@media screen and (width <= 450px) {
  .buttons {
    display: block !important;
  }
}

@media screen and (width >= 410px) {
  .form-container > .inputs {
    align-items: center;
    display: flex;
  }
}

@media screen and (width <= 409px) {
  .right-column {
    padding: 0 !important;
  }
}
