<div class="glassmorphism-form">
  <h2 class="text-center">ZMIANA HASŁA</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="submitForm()"
  >
    <mat-form-field class="d-block">
      <mat-label>Stare hasło</mat-label>
      <input
        [formControlName]="formNames.oldPassword"
        [maxLength]="maxPasswordLength"
        matInput
        type="password"
      />
      <mat-hint align="end">{{ oldPasswordLength() }} / {{ maxPasswordLength }}</mat-hint>
    </mat-form-field>
    @if (form.get(formNames.oldPassword)?.invalid && form.get(formNames.oldPassword)?.touched) {
      <shared-errors-container
        [errors]="errors.oldPassword"
        [input]="form.get(formNames.oldPassword)"
      ></shared-errors-container>
    }
    <mat-form-field class="d-block">
      <mat-label>Nowe hasło</mat-label>
      <input
        [formControlName]="formNames.newPassword"
        [maxLength]="maxPasswordLength"
        matInput
        type="password"
      />
      <mat-hint align="end">{{ newPasswordLength() }} / {{ maxPasswordLength }}</mat-hint>
    </mat-form-field>
    @if (form.get(formNames.newPassword)?.invalid && form.get(formNames.newPassword)?.touched) {
      <shared-errors-container
        [errors]="errors.newPassword"
        [input]="form.get(formNames.newPassword)"
      ></shared-errors-container>
    }
    <mat-form-field class="d-block">
      <mat-label>Powtórz hasło</mat-label>
      <input
        [formControlName]="formNames.passwordRepeat"
        [maxLength]="maxPasswordLength"
        matInput
        type="password"
      />
      <mat-hint align="end">{{ repeatPasswordLength() }} / {{ maxPasswordLength }}</mat-hint>
    </mat-form-field>
    @if (form.get(formNames.passwordRepeat)?.invalid && form.get(formNames.passwordRepeat)?.touched) {
      <shared-errors-container
        [errors]="errors.passwordRepeat"
        [input]="form.get(formNames.passwordRepeat)"
      ></shared-errors-container>
    }
    @if (errorMessage() !== '') {
      <mat-hint class="d-block pb-1">
        {{ errorMessage() }}
      </mat-hint>
    }
    <button
      class="glassmorphism-button w-100 mt-1"
      [disabled]="form.invalid"
      mat-button
      type="submit"
    >
      <mat-icon>save</mat-icon>
      Zmień hasło
    </button>
  </form>
</div>
