:host {
  display: block;
  padding: 5px;
}

.save-button {
  margin-right: 10px;
  width: calc(50% - 5px);
}

.preview-button {
  width: calc(50% - 5px);
}

input,
:host ::ng-deep .mat-slide-toggle-content,
:host ::ng-deep .mat-icon,
:host ::ng-deep input,
:host ::ng-deep .ngx-mat-timepicker-spacer,
:host ::ng-deep button {
  color: black;
}
