@use "./styles/toast";
@use "./styles/layout";
@use "./styles/reset";
@use "./styles/glassmorphism";

.close-btn {
  min-width: 36px !important;
  padding: 0 !important;
}

.mat-mdc-dialog-title {
  padding: 0 !important;
}

.no-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

hr {
  border: none;
  border-top: 1px solid rgb(0 0 0 / 50%);
  margin: 0.5em 0;
  width: 100%;
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: auto !important;
  min-height: unset !important;
}
