.mat-toolbar {
  backdrop-filter: blur(5px);
  background-color: rgb(255 255 255 / 30%);
  bottom: 0;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  height: 64px;
  position: fixed;
}

.part {
  width: calc(50% - 30px);
}

.part:first-of-type {
  margin-right: 60px;
}

.part > * {
  display: inline-block;
  width: 50%;
}

layout-search-button {
  bottom: 35px;
  left: calc(50% - 30px);
  position: fixed;
  z-index: 2;
}
