.additional {
  color: grey;
}

.available-icon {
  color: rgba(52, 145, 56, .9);
}

.unavailable-icon {
  color: rgba(255, 82, 82, .8);
}

a {
  color: blue;
}

.mat-icon-button:hover {
  background-color: rgba(255, 255, 255, .3);
}
