.additional {
  color: grey;
}

.available-icon {
  color: rgb(52 145 56 / 90%);
}

.unavailable-icon {
  color: rgb(255 82 82 / 80%);
}

a {
  color: blue;
}

.mat-icon-button:hover {
  background-color: rgb(255 255 255 / 30%);
}
