<form (ngSubmit)='submit()' [autocomplete]='null | autocomplete' [formGroup]='form' class='glassmorphism-form'>
  <mat-form-field class='w-100'>
    <mat-label>
      Nazwa
    </mat-label>
    <input
      (ngModelChange)='name = $event.toUpperCase()'
      [formControlName]='formNames.name'
      [maxlength]='maxNameLength'
      matInput
      type='text' />
    <mat-hint align='end'>
      {{nameLength$ | async}} / {{maxNameLength}}
    </mat-hint>
  </mat-form-field>
  <span *ngIf='form.get(formNames.name)?.invalid && form.get(formNames.name)?.touched'>
    <shared-errors-container [errors]='errors.name' [input]='form.get(formNames.name)'></shared-errors-container>
  </span>
  <button [disabled]='form.invalid' class='glassmorphism-button w-100 mt-1' mat-button type='submit'>
    <mat-icon>
      add_circle_outline
    </mat-icon>
    Utwórz
  </button>
</form>
