.glassmorphism-button {
  width: calc(100% - 10px);
}

.list-button:hover {
  background-color: rgb(42 212 248 / 30%) !important;
}

.flex-column {
  flex-direction: column;
}

.photos > div > img {
  height: 150px;
  width: 200px;
}
