mat-toolbar {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .3);
  z-index: 1000;
  backdrop-filter: blur(5px);
}

@media screen and (min-width: 948px) {
  mat-toolbar {
    position: fixed;
    bottom: 0;
  }
}
