<mat-toolbar>
  <recipes-navigation-item
    class="w-25"
    [menuItem]="menuItems.get(menuNames.all)!"
  ></recipes-navigation-item>
  <recipes-navigation-item
    class="w-25"
    [menuItem]="menuItems.get(menuNames.create)!"
  ></recipes-navigation-item>
  <recipes-navigation-item
    class="w-25"
    [disabled]="favouritesDisabled()"
    [menuItem]="menuItems.get(menuNames.favourite)!"
  ></recipes-navigation-item>
  <recipes-navigation-item
    class="w-25"
    [disabled]="toDoDisabled()"
    [menuItem]="menuItems.get(menuNames.toDo)!"
  ></recipes-navigation-item>
</mat-toolbar>
