<form
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <mat-form-field class="d-block">
    <mat-label>Adres E-mail</mat-label>
    <input
      [formControlName]="formNames.email"
      [maxLength]="maxEmailLength"
      matInput
      type="email"
    />
    <mat-hint align="start">
      @if (form.get(formNames.email)?.invalid && form.get(formNames.email)?.touched) {
        <shared-errors-container
          [errors]="errors.email"
          [input]="form.get(formNames.email)"
        ></shared-errors-container>
      }
    </mat-hint>
    <mat-hint align="end">{{ emailLength() }} / {{ maxEmailLength }}</mat-hint>
  </mat-form-field>

  @if (errorMessage() !== '') {
    <mat-hint class="d-block pb-1">
      {{ errorMessage() }}
    </mat-hint>
  }
  <button
    class="glassmorphism-button w-100 mt-1"
    [disabled]="form.invalid"
    mat-button
    type="submit"
  >
    Resetuj hasło
  </button>
  <button
    class="glassmorphism-button w-100 mt-2"
    [routerLink]="[loginPath]"
    mat-button
    type="button"
  >
    Powrót
  </button>
</form>
