<form (ngSubmit)='submitForm()' [formGroup]='form'>
  <mat-form-field class='d-block'>
    <mat-label>
      Adres E-mail
    </mat-label>
    <input [formControlName]='formNames.email' [maxLength]='maxEmailLength' matInput type='email' />
    <mat-hint align='end'>
      {{emailLength$ | async}} / {{maxEmailLength}}
    </mat-hint>
  </mat-form-field>
  <span *ngIf='form.get(formNames.email)?.invalid && form.get(formNames.email)?.touched'>
    <shared-errors-container [errors]='errors.email' [input]='form.get(formNames.email)'></shared-errors-container>
  </span>
  <mat-hint *ngIf="(errorMessage$ | async)!==''" class='d-block pb-1'>
    {{errorMessage$ | async}}
  </mat-hint>
  <button [disabled]='form.invalid' class='glassmorphism-button w-100 mt-1' mat-button type='submit'>
    Resetuj hasło
  </button>
  <button [routerLink]='[loginPath]' class='glassmorphism-button w-100 mt-2' mat-button type='button'>
    Powrót
  </button>
</form>

