<h2 class="d-flex justify-content-between">
  <button
    class="glassmorphism-button"
    (click)="clear()"
    mat-button
    type="button"
  >
    Wyczyść
  </button>
  <button
    class="glassmorphism-button close-btn"
    [mat-dialog-close]="true"
    mat-button
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-form-field class="w-100">
  <mat-label>Nazwa</mat-label>
  <input
    [autocomplete]="null | autocomplete"
    [formControl]="selectedName"
    [maxlength]="maxNameLength"
    matInput
    type="text"
  />
</mat-form-field>
<div class="two-columns-container">
  <div>
    <mat-form-field class="w-100">
      <mat-label>Dostępne</mat-label>
      <mat-select [formControl]="selectedAvailable">
        <mat-option [value]="null">-</mat-option>
        <mat-option [value]="true">Tak</mat-option>
        <mat-option [value]="false">Nie</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Ulubione</mat-label>
      <mat-select [formControl]="selectedFavourite">
        <mat-option [value]="null">-</mat-option>
        <mat-option [value]="true">Tak</mat-option>
        <mat-option [value]="false">Nie</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="two-columns-container">
  <div>
    <mat-form-field class="w-100">
      <mat-label>Do zrobienia</mat-label>
      <mat-select [formControl]="selectedToDo">
        <mat-option [value]="null">-</mat-option>
        <mat-option [value]="true">Tak</mat-option>
        <mat-option [value]="false">Nie</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Link</mat-label>
      <mat-select [formControl]="selectedHasLink">
        <mat-option [value]="null">-</mat-option>
        <mat-option [value]="true">Tak</mat-option>
        <mat-option [value]="false">Nie</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-form-field class="w-100">
  <mat-label>Tagi</mat-label>
  <mat-select
    [formControl]="selectedTags"
    [multiple]="true"
  >
    <mat-option>
      <ngx-mat-select-search
        (ngModelChange)="filterTags($event)"
        ngModel
        noEntriesFoundLabel="Brak wyników"
        placeholderLabel="Szukaj..."
      ></ngx-mat-select-search>
    </mat-option>
    @for (tag of filteredTags(); track tag) {
      <mat-option [value]="tag.id">
        {{ tag.name }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field class="w-100 no-subscript">
  <mat-label>Składniki</mat-label>
  <mat-select
    [formControl]="selectedIngredients"
    [multiple]="true"
  >
    <mat-option>
      <ngx-mat-select-search
        (ngModelChange)="filterIngredients($event)"
        ngModel
        noEntriesFoundLabel="Brak wyników"
        placeholderLabel="Szukaj..."
      ></ngx-mat-select-search>
    </mat-option>
    @for (ingredient of filteredIngredients(); track ingredient) {
      <mat-option [value]="ingredient.id">
        {{ ingredient.name }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
