:host {
  text-align: center;
}

button:not([disabled]):hover {
  background-color: rgba(42, 212, 248, .3) !important;
}

.big {
  border-radius: 5px;
  width: calc(100% - 40px);
}

.small {
  display: none;
}

@media screen and (max-width: 800px) {
  .big mat-icon {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .small {
    display: inline-block;
  }
  .big {
    display: none;
  }
}
