:host {
  text-align: center;
}

button:not([disabled]):hover {
  background-color: rgb(42 212 248 / 30%) !important;
}

.big {
  border-radius: 5px;
  width: calc(100% - 40px);
}

.small {
  display: none;
}

@media screen and (width <= 800px) {
  .big mat-icon {
    display: none;
  }
}

@media screen and (width <= 650px) {
  .small {
    display: inline-block;
  }

  .big {
    display: none;
  }
}
