<form
  [autocomplete]="null | autocomplete"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <mat-list-item>
    <button
      (click)="stopEdit()"
      mat-icon-button
      type="button"
      class="mr-1"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <mat-form-field class="w-100">
      <mat-label>Nazwa</mat-label>
      <input
        [formControlName]="formNames.name"
        [maxlength]="maxNameLength"
        matInput
        type="text"
      />
      <mat-hint align="start">
        @if (form.get(formNames.name)?.invalid && form.get(formNames.name)?.touched) {
          <shared-errors-container
            [errors]="errors.name"
            [input]="form.get(formNames.name)"
          ></shared-errors-container>
        }
      </mat-hint>
      <mat-hint align="end">{{ nameLength() }} / {{ maxNameLength }}</mat-hint>
    </mat-form-field>
    <button
      [disabled]="form.invalid"
      mat-icon-button
      type="submit"
      class="ml-1"
    >
      <mat-icon>save</mat-icon>
    </button>
  </mat-list-item>
</form>
