<div [formGroup]="formGroup">
  <div class="d-flex">
    <div class="d-flex">
      <div class="portions-button">
        <button
          class="plus"
          type="button"
          (click)="increaseAmount()"
        >
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button
          class="plus"
          type="button"
          (click)="decreaseAmount()"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <mat-form-field class="amount-input mr-2">
        <mat-label>Ilość</mat-label>
        <input
          [formControlName]="formNames.amount"
          matInput
          min="0"
          step="any"
          type="number"
        />

        <mat-hint align="start">
          @if (formGroup.get(formNames.amount)?.invalid && formGroup.get(formNames.amount)?.touched) {
            <shared-errors-container
              [errors]="errors.amount"
              [input]="formGroup.get(formNames.amount)"
            ></shared-errors-container>
          }
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="w-100 d-flex align-baseline">
      <mat-form-field class="w-100">
        <mat-label>Jednostka</mat-label>
        <input
          [formControlName]="formNames.measure"
          [matAutocomplete]="auto2"
          [maxLength]="maxMeasureLength"
          matInput
          type="text"
        />
        <mat-autocomplete #auto2="matAutocomplete">
          @for (measure of filteredMeasures(); track measure) {
            <mat-option
              [value]="measure"
              (click)="selectMeasure(measure)"
            >
              {{ measure }}
            </mat-option>
          }
        </mat-autocomplete>
        <mat-hint align="start">
          @if (formGroup.get(formNames.measure)?.invalid && formGroup.get(formNames.measure)?.touched) {
            <shared-errors-container
              [errors]="errors.measure"
              [input]="formGroup.get(formNames.measure)"
            ></shared-errors-container>
          }
        </mat-hint>
        <mat-hint align="end">{{ measureLength() }} / {{ maxMeasureLength }}</mat-hint>
      </mat-form-field>
      <button
        class="glassmorphism-red-button delete-button pa-0 ml-1"
        (click)="deletePosition()"
        mat-button
        type="button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="d-flex align-baseline mt-1">
    <mat-slide-toggle
      [formControlName]="formNames.additional"
      color="primary"
    >
      Składnik opcjonalny
    </mat-slide-toggle>
    <mat-form-field class="ingredient-input ml-2">
      <mat-label>Składnik</mat-label>
      <input
        [formControlName]="formNames.ingredient"
        type="hidden"
      />
      <input
        [formControlName]="formNames.ingredientSearch"
        [matAutocomplete]="auto"
        [maxlength]="maxIngredientNameLength"
        matInput
        type="text"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @if (ingredients().length > 0) {
          <mat-optgroup label="Składniki">
            @for (ingredient of ingredients(); track ingredient) {
              <mat-option
                [value]="ingredient.name"
                (click)="selectIngredient(ingredient.id)"
              >
                [Składnik] {{ ingredient.name }}
              </mat-option>
            }
          </mat-optgroup>
        }
        @if (recipes().length > 0) {
          <mat-optgroup label="Przepisy">
            @for (recipe of recipes(); track recipe) {
              <mat-option
                [value]="recipe.name"
                (click)="selectRecipe(recipe.id)"
              >
                [Przepis] {{ recipe.name }}
              </mat-option>
            }
          </mat-optgroup>
        }
      </mat-autocomplete>
      <mat-hint align="start">
        @if (formGroup.get(formNames.ingredientSearch)?.invalid && formGroup.get(formNames.ingredientSearch)?.touched) {
          <shared-errors-container
            [errors]="errors.ingredient"
            [input]="formGroup.get(formNames.ingredientSearch)"
          ></shared-errors-container>
        }
      </mat-hint>
    </mat-form-field>
  </div>
</div>
