.measure-input {
  width: calc(100% - 105px);
}

.ingredient-input {
  width: calc(100% - 180px);
}

.amount-input {
  width: 50px;
}

.delete-button {
  min-width: 36px;
}

input {
  color: black;
}
