{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "ignore",
        "singleAttributePerLine": true,
        "bracketSameLine": false,
        "parser": "angular"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
