<h2 class='d-flex justify-content-between' mat-dialog-title>
  <button (click)='clear()' class='glassmorphism-button' mat-button type='button'>
    Wyczyść
  </button>
  <button [mat-dialog-close]='true' class='glassmorphism-button close-btn' mat-button type='button'>
    <mat-icon>
      close
    </mat-icon>
  </button>
</h2>
<div>
  <mat-form-field>
    <mat-label>
      Składniki
    </mat-label>
    <mat-select [formControl]='selectedIngredients' [multiple]='true'>
      <mat-option>
        <ngx-mat-select-search
          (ngModelChange)='filterIngredients($event)'
          ngModel
          noEntriesFoundLabel='Brak wyników'
          placeholderLabel='Szukaj...'>
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor='let ingredient of ingredients$ | async' [value]='ingredient.id'>
        {{ingredient.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>
      Miesiące
    </mat-label>
    <mat-select [formControl]='selectedMonths' [multiple]='true'>
      <mat-option *ngFor='let month of months' value='{{month.value}}'>
        {{month.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

