<h2 class="d-flex justify-content-between">
  <button
    class="glassmorphism-button"
    (click)="clear()"
    mat-button
    type="button"
  >
    Wyczyść
  </button>
  <button
    class="glassmorphism-button close-btn"
    [mat-dialog-close]="true"
    mat-button
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-form-field class="w-100">
  <mat-label>Nazwa</mat-label>
  <input
    [autocomplete]="null | autocomplete"
    [formControl]="name"
    [maxlength]="maxNameLength"
    matInput
    type="text"
  />
</mat-form-field>
<mat-form-field class="w-100 no-subscript">
  <mat-label>Dostępne</mat-label>
  <mat-select [formControl]="available">
    <mat-option [value]="null">-</mat-option>
    <mat-option [value]="true">Tak</mat-option>
    <mat-option [value]="false">Nie</mat-option>
  </mat-select>
</mat-form-field>
