<div
  class="timers d-flex"
  [ngClass]="{ 'only-time': step === 1, all: step === 0, 'on-recipe': onRecipesPage() }"
>
  <div class="activator">
    <button
      class="glassmorphism-button"
      mat-button
      type="button"
    >
      <mat-icon>schedule</mat-icon>
    </button>
  </div>
  <div class="glassmorphism-content pa-1">
    <div>
      <div class="buttons d-flex justify-content-between">
        <button
          class="glassmorphism-button mr-2"
          [matTooltip]="tooltips.addTimer"
          (click)="openAddDialog()"
          mat-button
          type="button"
        >
          <mat-icon>add</mat-icon>
        </button>
        <div>
          <button
            class="glassmorphism-button"
            [matTooltip]="tooltips.open"
            [ngClass]="{ 'active-step': step === 0 }"
            (click)="setStep(0)"
            mat-button
            type="button"
          >
            <mat-icon>rectangle</mat-icon>
          </button>
          <button
            class="glassmorphism-button"
            [matTooltip]="tooltips.onlyTime"
            [ngClass]="{ 'active-step': step === 1 }"
            (click)="setStep(1)"
            mat-button
            type="button"
          >
            <mat-icon>schedule</mat-icon>
          </button>
          <button
            class="glassmorphism-button"
            [matTooltip]="tooltips.hidden"
            [ngClass]="{ 'active-step': step === 2 }"
            (click)="setStep(2)"
            mat-button
            type="button"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    @for (timer of timers(); track timer; let last = $last; let index = $index) {
      <timers-timer
        [leftTime]="timer.leftTime"
        [timer]="timer"
        (delete)="delete(index)"
        (nameUpdate)="updateName(index, $event)"
        (restart)="restart(index)"
        (switch)="switch(index)"
        (timeUpdate)="updateTime(index, $event)"
      ></timers-timer>
      @if (!last) {
        <hr />
      }
    }
  </div>
</div>
