.timers {
  backdrop-filter: blur(5px);
  position: fixed;
  right: -310px;
  top: 69px;
  transition-duration: 1s;
  z-index: 100;
}

.activator > button {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.buttons button,
.activator > button {
  min-width: 36px;
  padding: 0;
}

.buttons > div > button:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.buttons > div > button:nth-child(2) {
  border-left: 1px solid black;
  border-radius: 0 !important;
  border-right: 1px solid black;
}

.buttons > div > .active-step {
  background-color: rgb(252 231 78 / 80%) !important;
}

.buttons > div > button:nth-child(3) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.buttons > div {
  min-height: 37px;
}

.timers:hover {
  right: 0;
}

.all {
  right: 0;
}

.only-time {
  right: -240px;
}

.glassmorphism-content {
  background-color: rgb(255 255 255 / 30%);
  border-radius: 0 0 0 5px !important;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  max-height: calc(100vh - 212px);
  overflow-y: auto;
  width: 300px;
}

@media screen and (width <= 947px) {
  .on-recipe {
    top: 133px;
  }
}
